

.about {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid rgb(250, 164, 4);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 70dvh;
  width: 90%;
  margin-left: 5%;
}
.content {

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #169ae7;
   
    font-size: 1rem;
    
}
.iframe{
  padding-top: 1rem;
  border: none;
  border-radius: 8px;
  height: 100%;
    box-sizing: border-box;
}




.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about p {

  line-height: 1.6;
  color: rgb(37, 221, 253);
}



.highlights {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #fc931b;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
@media (max-width: 750px) {
.show{
    display: block !important;
}
.hide{
    display: none !important;
}
  .about {
  
    flex-direction: column;
  }
  .about h2 {
    font-size: 1.5rem;
  }
  .about p {
    font-size: 1rem;
  }
  .iframe
    { 
    
        width: 90%;

    }
    .toggleButtons {
        display: flex !important;
    }
    .content{
      width: 90%;
    }

 
   
}

.toggleButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 1rem;
  display: none;
  position: relative;   
  border-top: 2px solid rgb(250, 164, 4);
  border-left: 2px solid rgb(250, 164, 4);
  border-right: 2px solid rgb(250, 164, 4);
  z-index: 200;         
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  
}
.toggleButtons button {
   width: 100%;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background: #ccc;
  overflow: hidden;
  
  
  transition: 0.3s;
}

.toggleButtons button.active {
  background: #169ae7;
  color: white;
}