
.navbar {
  position:fixed;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  
  background-color: transparent;
 padding-right: 40px;
 padding-top: 10px;
  
  top: 3rem;
  z-index: 100;
  width: 100%;
}

.logo {
  height: auto;
  width: 40%;
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: clamp(0.1vw, 2vw, 3vw);
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

.navLinks a {
  font-size: 0.95rem;
  color: white;
  text-decoration: none;
}

.navLinks a:hover {
  color: #0F6E56;
}

.bookBtn {
  background-color: #0F6E56;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-size: 0.95rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.5rem;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
}

.bookBtn:hover {
  background-color: #0F6E56;
}
.menuBtn {
  display: none;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  .navLinks {
    display: none;
  }
  .menuBtn {
    display: block;
  }
}

.mobileNav {
  position: fixed;
   /* navbar height */

  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.mobileNavLinks {
  
  background:rgba(0, 0, 0, 0.8);
  display: flex;

  flex-direction: column;
  align-items: center;

  width: 50%;
  list-style: none;
  border-radius: 1rem;
  
  transform: translateY(-300%)  ; /* hidden above screen */
  transition: transform 0.5s ease-in-out;
  
  
}

.mobileNavLinks.open {
  transform: translateY(0%)  ; /* slide down into view */
   /* slide down into view */
}

.mobileNavLinks li{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 3.5vw, 1.8rem);

}

.mobileNavLinks a {
  display: flex;
  justify-content: center;
 
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  color:wheat;
  padding: 0.5rem;
  text-decoration: none;
  font-family: serif;
  width:100%;
  

}
.mobileNavLinks .contactBtn {
  border-bottom: 0px solid rgba(255, 255, 255, 1);
}
.bookBtn {
  background-color: #0F6E56;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-size:clamp(16px, 3vw, 32px);
   font-size: clamp(14px, 3vw, 18px);
  padding: clamp(8px, 2vw, 14px) clamp(16px, 4vw, 24px);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 1rem;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
}

.bookBtn:hover {
  background-color: #0F6E56;
}
.mobileNavLinks a:hover {
  color: #eb8140;
}
