
.navbar {
  position:fixed;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  
  background-color: transparent;
 padding-right: 40px;
 padding-top: 10px;
  
  top: 3rem;
  z-index: 100;
  width: 100%;
}

.logo {
  height: auto;
  width: 40%;
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 32px;
  
  list-style: none;
}

.navLinks a {
  font-size: 0.95rem;
  color: white;
  text-decoration: none;
}

.navLinks a:hover {
  color: #0F6E56;
}

.bookBtn {
  background-color: #0F6E56;
  color: #ffffff;
  padding: 10px 22px;
  border-radius: 8px;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.bookBtn:hover {
  background-color: #0F6E56;
}
.menuBtn {
  display: none;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  .navLinks {
    display: none;
  }
  .menuBtn {
    display: block;
  }
}

.mobileNav {
  position: fixed;
  top: 57px; /* navbar height */
  left: 0;
  width: 100%;
  
  
  width: 100%;
  
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
}
.mobileNavLinks {
  background:rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 16px 0;
}

.mobileNavLinks a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  width: 100%;
  transition: color 0.3s ease;

}

.mobileNavLinks a:hover {
  color: #eb8140;
}
